<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Services</a>
                    </li>
                    <li>
                        <a href="/technology">Technology</a>
                    </li>
                    <li>
                        <a href="/attorneys">Attorneys</a>
                    </li>
                    <li>
                        <a href="/doctors">Doctors</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Forms</h2>
                    </li>
                    <li><a href="/assets/pdfs/patientInfo.pdf" download>Patient Paperwork</a></li>
                    <li><a href="/assets/pdfs/patientHistory.pdf" download>MRI Patient Form</a></li>
                    <li><a href="/assets/pdfs/insurance.pdf" download>Insurances</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/UjsQbxXjtC5AEhDMA">2698 North Galloway Ave Ste 107<br>Mesquite, Texas 75150</a>
                    </li>
                    <li>
                        <a href="tel:555-779-4407">T: 972-681-4000 / 972-681-0881</a>
                    </li>
                    <li>
                        <a href="mailto:ntdi2013@yahoo.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="left-section">
            <a class="logo" href="https://www.facebook.com/ntdimaging"><img loading="lazy" decoding="async" src="/assets/svgs/facebook.png" alt="logo" width="85" height="78"></a>
                    <!-- <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/linkedin.png" alt="logo" width="85" height="58"></a> -->
            <!-- <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/yelp.png" alt="logo" width="85" height="58"></a> -->
            <!-- width="264" height="78" -->
            <a class="cert" href="../assets/pdfs/PatientNotice.pdf"><img loading="lazy" decoding="async" src="../assets/images/cert.png" alt="logo" width="135" height="85"></a>

        </div>
    </div>

    <div class="credit">
        <span>Designed by</span>
        <a href="https://stevfolio.vercel.app/" target="_blank" rel="noopener">Steven Borik</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div>
</footer>