<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% set navPages = collections.navPages %}


<div id="navigation">
    <div aria-hidden="true" class="background-color-div"></div>
    <div class="container"> 
        <a class="logo" aria-label="click to go to home page" href="/">
            <img class="light" aria-hidden="true" src="/assets/images/logo.png" decoding="async" alt="logo">
            <img class="dark" aria-hidden="true" src="/assets/images/logo-lll.png" decoding="async" loading="lazy" alt="logo">
        </a>

        <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
            <span aria-hidden="true"></span>
        </button>

        <nav id="navbar-menu" aria-label="main navigation">
            <ul class="menu">
              {% for navItem in navPages %}
              <li{% if navItem.url == page.url %} class="dropdown" {% endif %}>
                <a href="{{ navItem.url }}">{{ navItem.data.eleventyNavigation.key }}</a>
                {% if navItem.hasChildren %}
                <div class="dropdown-menu">
                  <ul class="dropdown-menu-list">
                    {% for child in navItem.children %}
                    <li {% if child.url == page.url %} class="dropdown-menu-link" {% endif %}>
                      <a href="{{ child.url }}">{{ child.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>          
    </div>
</div>